:root{
    --color-white: #ffffff;
    --indicia : #0040FF;
    --indicia-dark: #0B3BCA;
    --indicia-secondary:#0140FC;
    --color-black: #000000;
    --color-secondary-white: #F5F5F5;
    --color-off-white: #C4C4C4;
    --color-off-white-secondary: #C7C7C7;
}
